@model Tanner.Persistence.UserContext

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserContext</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            RSVP Status
        </dt>
        @if (Model.MainRSVP == null)
        {
            <dd>Not yet responded.</dd>
        }
        else
        {
            if(Model.MainRSVP.is_coming)
            {
                <dd>Responded and planning to attend.</dd>
                <dt>Dinner Option</dt>
                <dd>@Model.MainRSVP.dinner_option.PlateOption.ToString()</dd>
            }
            else
            {
                <dd>Responded and not attending.</dd>
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
