@model Tanner.Persistence.UserContext

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserContext</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            RSVP Status
        </dt>

        @if (Model.MainRSVP != null)
        {
            <dt>
                @Html.Partial("~/Views/UserContext/_RSVPStatus.cshtml", Model.MainRSVP)
            </dt>
        }
        else
        {
            <dt>
                Not Responded
            </dt>
        }

        <dt>
            @Html.DisplayNameFor(model => model.GuestAllotted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestAllotted)
        </dd>

        @if(Model.GuestAllotted && Model.GuestRSVP != null)
        {
            <dt>Guest RSVP Status</dt>
            <dt>
                @Html.Partial("~/Views/UserContext/_RSVPStatus.cshtml", Model.GuestRSVP)
            </dt>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Clear RSVP", "ResetRSVP", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
